{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="phx-carousel-full">

    <div id="phx-fullw-carousel" class="carousel" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#phx-fullw-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#phx-fullw-carousel" data-slide-to="1"></li>
            <li data-target="#phx-fullw-carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img class="" src="{% static 'base/images/parallax/phx.jpg' %}" alt="{{carousel.titel}}">
                <div class="carousel-caption">
                    <!-- <h3>lorem</h3> -->
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
                </div>
            </div>

            <div class="item">
                <img class="" src="{% static 'base/images/parallax/mapa.jpg' %}" alt="{{carousel.titel}}">
                <div class="carousel-caption">
                    <!-- <h3>lorem</h3> -->
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
                </div>
            </div>

            <div class="item">
                <img class="" src="{% static 'base/images/parallax/bike.jpg' %}" alt="{{carousel.titel}}">
                <div class="carousel-caption">
                    <!-- <h3>lorem</h3> -->
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
                </div>
            </div>
        </div>

    </div>

</div>

<div class="phx-quienes-somos phx-section-padding">

    <div class="container  text-center">

        <h3>PHOENIX WORLD TRADE INC.</h3>
        <p><em>Es un grupo, líder de compañías que operan en Latinoamérica con un portafolio diversificado.</em></p>
        <p>Con más de 3.800 empleados, la compañía representa más de 40 de las mejores marcas internacionales en retail, más de 20 marcasen wholesale, más de 200 marcasen Travel Retail, apoyados en una sólida infraestructura que supervisa másde 360 tiendas en 14 países, incluyendo Venezuela, Panamá, Colombia, Chile, Perú, Ecuador, Brasil, Costa Rica, República Dominicana, Aruba, St. Maarten, Puerto Rico, Curasao y EEUU.</p>
        <button class="btn">Conócenos</button>

    </div>

</div>

<div class="phx-segmentos-negocio phx-section-padding ">

    <div class="container text-center">
        <h3>SEGMENTOS DEL NEGOCIO</h3>
        <h4>Venta al por menor</h4>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-off"></span>
                <h4>COMPROMISO</h4>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-heart"></span>
                <h4>PASIÓN</h4>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-lock"></span>
                <h4>DEDICACIÓN</h4>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="">

            </div>
            <div class="col-sm-offset-2 col-sm-4">
                <span class="glyphicon glyphicon-leaf"></span>
                <h4>GREEN</h4>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-wrench"></span>
                <h4>HARD WORK</h4>
            </div>
        </div>
    </div>

</div>

{% endblock %}
