{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mapas/css/cssmap-continents.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'mapas/css/cssmap-themes.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'mapas/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'mapas/css/timeline.css' %}"/>
    <!-- <link rel="stylesheet" href="{% static 'mapas/css/jquery-jvectormap-2.0.3.css' %}" media="screen" title="Jmap" charset="utf-8"> -->
{% endblock %}

{% block content %}
<div class="phx-who-we-are phx-section-margin-top">
    <div class="container">
        <div class="page-header">
            <h1 id="timeline">Como empezó todo</h1>
        </div>
        <ul class="timeline">
            {% for date in timeline.dates %}
            <li class="{{date.position}}">
                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">{{date.title}}</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{date.fecha}}</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>{{date.desc}}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="" style="width: 100%; height: 100%;background-color:#123">
    <div class="text-center">
        <h3 style="color:#fff">Operaciones en la región</h3>
    </div>
    <div id="map-continents">
        <ul class="continents">
            <li class="c1"><a href="#africa"></a></li>
            <li class="c2"><a href="#asia"></a></li>
            <li class="c3"><a href="#australia"></a></li>
            <li class="c4"><a href="#europe"></a></li>
            <li class="c5"><a href="#north-america"></a></li>
            <li class="c6"><a href="#south-america"></a></li>
        </ul>
    </div>
    <div id="demo-markers">
        <ul class="cssmap-pins">
            {% for location in locations.paises %}
            <li class="cssmap-pin" data-cssmap-coords="{{location.lat}},{{location.long}}">
                <div class="cssmap-tooltip-content">
                    {{location.name}}:{{location.desc}}
                </div>
                <a href="#" class="cssmap-marker"><img src="{% static 'mapas/images/pin.png' %}" width="15" height="20" alt="pin"/></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}
{% block js %}
<!-- jQuery -->

<script type="text/javascript" src="{% static 'mapas/js/jquery.cssmap.min.js' %}"></script>
<!-- <script src="{% static 'base/js/jquery-jvectormap-2.0.3.min.js' %}" charset="utf-8"></script> -->
<!-- <script src="{% static 'base/js/mapa.js' %}" charset="utf-8"></script> -->
<script type="text/javascript">
$(document).ready(function(){

// CSSMap;
$("#map-continents").CSSMap({
  "size": 1450,
  "mapStyle": "dark",
  "cities": true,
  "disableClicks": true,
  "tooltips": false,
  "responsive": "auto",
  'loadingText':'Cargando mapa PHX...',
  "fitHeight": true,
  "agentsList": {
    "enable": true,
    "agentsListId": "#demo-agents",
    "agentsListSpeed": 0,
    "agentsListOnHover": false
  },
  "pins": {
    "enable": true,
    "pinsId": "#demo-markers",
    "mapSize": 1450,
    "markerPosition": "middle",
    "tooltipPosition": "top",
    "tooltipOnClick": false,
    "clickableRegions": true
  }
});
// END OF THE CSSMap;

});
</script>
{% endblock %}
