{% load staticfiles %}
<div class="phx_parallax_who_we_are parallax-container">

    <div class="parallax">
        <img class="" src="{% static 'base/images/parallax/who_we_are.jpg' %}">
    </div>
    <nav class="phx_navbar_who_we_are phx_color">
        <ul class="hide-on-med-and-down">
            <p>WHO WE ARE?</p>
        </ul>
    </nav>
    <div class="row phx_brands_cards">
        <div class="col s12 offset-m1 m10  offset-l1 l10">
            <div class="card-panel phx_color" style="overflow:hidden">
                <p class="white-text">
                    Phoenix World Trade es un grupo líder de compañías que operan en Larinoamérica con un portafolio diversicado, desde venta al por menor hasta bienes raíces. Con más de 3.800 empleados, la compañía representa más de 40 de las mejores marcas internacionales en retail, más de 20 marcas en wholesale, más de 200 marcas en Travel Retail, apoyados en una sólida infraestructura que supervisa más de 360 tiendas en 14 países, incluyendo Panamá, Venezuela, Colombia, Chile, Perú, Ecuador, Brasil, Costa Rica, República Dominicana, Aruba, St. Maarten, Puerto Rico, Curacao y EEUU. <br>Desde 2011, Phoenix World Trade se embarca a su vez en bienes raíces, desarrollando proyectos immobiliarios tanto comerciales como residenciales.
                </p>
            </div>
        </div>
    </div>
</div>
