<!DOCTYPE html>
<html lang="es">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="Site Name" content="phoenixworldtrade.com">
    <meta name="Type" content="website">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="Title" content="{{title}}">
    <meta name="Keywords" content="Retail, Retailers, Por menor, Por mayor, Holesale, sale, company,Retail,Retailers,Operators,Group(s),Companies,Franchise,Franchising,Franchisors,Partnership,Brands,aldo,timberlan,balu,Food and Beverage,Curacao,PR,Accessories,Home Furnishings,Entertainment,Multimedia,Beauty,Venezuela,Panama,Ecuador,USA,Brasil,Brazil,Saint Marteen,RD,Republica Dominicana,Dominican Republic, Venezuelan,Puerto Rico">
    <meta name="Description" content="Phoenix World Trade Inc., es un grupo líderde de compañías que operan en Larino América, con un portafolio diversificado.">
    <meta name="Author" content="Josmer Hernandez">
    <meta name="Designer" content="Napoleon Gutierrez">
    <link rel="stylesheet" href="{% static 'base/images/favicon.ico' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    {% block css %}
    {% endblock %}
    <title>{{title|upper}} | PHOENIX WORLD TRADE INC.</title>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <header class="phx-header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="{% static 'base/images/logos/PHX.png' %}" alt="Phoenix World Trade Site."></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'Who-We-Are' %}">EL GRUPO</a></li>
                        <li><a href="{% url 'Brands' %}">MARCAS</a></li>
                        <li><a href="#contact">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="phx-section">{% block content %}{% endblock %}</section>

    <div class="phx-contato phx-section-padding" id="contact" >
        <div class="container">
            <h3 class="text-center">CONTACTO</h3>
            <div class="row">
                <div class="col-sm-5">
                    <p>Contantanos.</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span> Panama, PA</p>
                    <p><span class="glyphicon glyphicon-phone"></span> +507 2146129</p>
                    <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@phoenixwt.com.pa">info@phoenixwt.com.pa</a></p>
                </div>
                <form action="{% url 'Contact-mail' %}" method="post">
                    {% csrf_token %}
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                            </div>
                        </div>
                        <textarea class="form-control" id="comments" name="comments" placeholder="Comentarios" rows="5"></textarea><br>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button class="btn btn-default pull-right" type="submit">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="phx-footer phx-section-padding-footer">

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4>Enlaces importantes</h4>
                    <ul>
                        <li><a href="{% url 'Who-We-Are' %}">¿Quienes somos?</a></li>
                        <li><a href="{% url 'Brands' %}">Nuestras marcas</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <h4>Nuestras redes</h4>
                    <p>Facebook</p>
                    <p>LinkedIn</p>
                    <p>Youtube</p>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 col-xs-12">
                    <p>&copy; Copyright 2016 Phoenix World Trade Inc.</p>
                </div>
            </div>
        </div>

    </footer>
    <script type="text/javascript" src="{% static 'base/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/app.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>
